// Dark
$darkRootBackground: #2f2f2f;
$darkRootText: #f6f6f6;
$darkButtonBackground: #0f0f0f;
$darkBorderHover: #51545d;
$darkInteractionBackground: #212121;
$darkInteractionHover: #c8c8c8;
$darkChipBackground: #252424;
$darkChipBorder: #706f6f;
$darkChatUserBoxBorder: #99a7c2;
$darkChatAssistantBoxBackground: #555555;
$darkChatAssistantBoxBorder: #f5f5f5;
$darkMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$darkOverBoxShadow: 0 10px 6px 4px rgba(0, 0, 0, 0.4);
$darkBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);

// Light
//...
