// Dark
$darkRootText: #f6f6f6;
$darkRootBackground: #2f2f2f;
$darkMessageBorder: #99a7c2;
$darkButtonBackground: #0f0f0f;
$darkButtonBorderHover: #4b5875;
$darkThinkColor: #f5f5f5;
$darkThinkBackground: #555555;
$darkActionBarDialogBackground: #212121;
$darkMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$darkBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);

// Light
$lightRootText: #2f2f2f;
$lightRootBackground: #f6f6f6;
$lightMessageBorder: #2d2d2d;
$lightButtonBackground: #bdbdbd;
$lightButtonBorderHover: #97aad0;
$lightThinkColor: #f5f5f5;
$lightThinkBackground: #868686;
$lightActionBarDialogBackground: #212121;
$lightMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$lightBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);
