// Dark
$darkRootText: #f6f6f6;
$darkRootBackground: #2f2f2f;
$darkActionBarBackground: #212121;
$darkActionBarDialogHover: #c8c8c8;
$darkMessageBorder: #99a7c2;
$darkButtonBackground: #0f0f0f;
$darkButtonBorderHover: #4b5875;
$darkButtonBorderActive: #d5b4a5;
$darkAssistantBoxColor: #f5f5f5;
$darkAssistantBoxBackground: #555555;
$darkMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$darkBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);

// Light
$lightRootText: #2f2f2f;
$lightRootBackground: #e4e4e4;
$lightActionBarBackground: #cfcfcf;
$lightActionBarDialogHover: #bcbcbc;
$lightMessageBorder: #2d2d2d;
$lightButtonBackground: #bdbdbd;
$lightButtonBorderHover: #97aad0;
$lightButtonBorderActive: #a0bcfa;
$lightAssistantBoxColor: #f5f5f5;
$lightAssistantBoxBackground: #868686;
$lightMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$lightBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);
