// Dark
$darkRootText: #f6f6f6;
$darkRootBackground: #2f2f2f;
$darkInteractionBackground: #212121;
$darkInteractionHover: #c8c8c8;
$darkButtonBackground: #0f0f0f;
$darkButtonBorderHover: #4b5875;
$darkButtonBorderActive: #d5b4a5;
$darkChipBackground: #252424;
$darkChipBorder: #706f6f;
$darkChatUserBoxColor: #99a7c2;
$darkChatAssistantBoxColor: #f5f5f5;
$darkChatAssistantBoxBackground: #555555;
$darkMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$darkBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);

// Light
$lightRootText: #2f2f2f;
$lightRootBackground: #e4e4e4;
$lightInteractionBackground: #cfcfcf;
$lightInteractionHover: #bcbcbc;
$lightButtonBackground: #bdbdbd;
$lightButtonBorderHover: #97aad0;
$lightButtonBorderActive: #a0bcfa;
$lightChipBackground: #d3d3d3;
$lightChipBorder: #a9a9a9;
$lightChatUserBoxColor: #2d2d2d;
$lightChatAssistantBoxColor: #f5f5f5;
$lightChatAssistantBoxBackground: #868686;
$lightMessageSendBoxShadow: 0 1px 6px 0 rgba(163, 163, 163, 0.4);
$lightBoxShadow: 0 1px 6px 4px rgba(0, 0, 0, 0.4);
