$screenWidth: 450px;
$screenHeight: 600px;

$zIndexOver: 1000;
$zIndexActionBar: 1;

$fontSizeNormal: 18px;
$fontSizeNormalPlus: 24px;
$fontSizeMedium: 30px;
$fontSizeBig: 40px;
$fontSizeVeryBig: 50px;
