@use "../setting/parameter.scss" as parameter;

.view_ai {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 1 1 auto;

    position: relative;

    aside:has(> .view_chat_message) {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: stretch;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 1 1 auto;
    }

    aside {
        &:has(> .view_toast) {
            z-index: parameter.$zIndexLevel1;
        }

        .view_toast {
            .message_container {
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
}
