@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_chat_message {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 1 1 auto;

    .bottom_limit {
        height: 5px;
        flex-shrink: 0;
    }

    .chat_wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: start;
        align-items: stretch;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 1 1 auto;

        padding: 0 25px;
        overflow-x: hidden;
        overflow-y: scroll;

        > div {
            .chat_user_wrapper {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: end;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;

                margin: 10px 0px;

                .time {
                    width: fit-content;
                }

                .message {
                    border-radius: 8px;
                    margin: 5px 0;
                    padding: 10px;
                }
            }

            .chat_assistant_wrapper {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: start;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;

                margin: 10px 0px;

                &:not(:has(> :not(.none))) {
                    margin: 0;
                }

                details {
                    padding: 5px;
                    margin: 5px 0;
                    border-radius: 8px;

                    summary {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: start;
                        align-items: center;
                        justify-items: center;
                        min-height: 0;
                        min-width: 0;
                        flex: 0 1 auto;

                        cursor: pointer;

                        .cls_icon {
                            font-size: parameter.$fontSizeNormalPlus !important;
                        }
                    }

                    ul {
                        margin: 5px 0;

                        li {
                            margin: 2px 0;
                        }
                    }

                    .citation_wrapper {
                        .pagination_wrapper {
                            display: flex;
                            flex-direction: row;
                            align-content: center;
                            justify-content: start;
                            align-items: center;
                            justify-items: center;
                            min-height: 0;
                            min-width: 0;
                            flex: 0 1 auto;

                            gap: 8px;
                            margin: 10px 0 5px 0;

                            button {
                                display: flex;
                                flex-direction: row;
                                align-content: center;
                                justify-content: center;
                                align-items: center;
                                justify-items: center;
                                min-height: 0;
                                min-width: 0;
                                flex: 0 1 auto;
                            }

                            .label {
                                font-size: parameter.$fontSizeSmall;
                                white-space: nowrap;
                            }
                        }

                        .box {
                            margin-top: 10px;
                            padding: 10px;

                            .title {
                                display: flex;
                                flex-direction: row;
                                align-content: center;
                                justify-content: start;
                                align-items: center;
                                justify-items: center;
                                min-height: 0;
                                min-width: 0;
                                flex: 0 1 auto;

                                .cls_icon {
                                    font-size: parameter.$fontSizeNormalPlus !important;
                                    margin-right: 5px !important;
                                }
                            }

                            .link {
                                text-decoration: underline;
                                margin-left: 5px;
                            }

                            pre {
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                }

                .scanner_wrapper {
                    display: flex;
                    flex-direction: column;
                    align-content: start;
                    justify-content: start;
                    align-items: stretch;
                    justify-items: start;
                    min-height: 0;
                    min-width: 0;
                    flex: 0 1 auto;

                    overflow: scroll;
                    width: 100%;

                    .security_scanner {
                        max-height: 500px;
                        word-break: unset !important;
                        white-space: pre !important;
                        font-family: monospace !important;
                    }
                }
            }
        }
    }
}

.view_chat_input {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 0 1 auto;

    .message_send_wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: stretch;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 0 1 auto;

        border-radius: 8px;
        width: 90%;
        align-self: center;
        margin-bottom: 10px;

        .action_wrapper {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            justify-items: center;
            min-height: 0;
            min-width: 0;
            flex: 0 1 auto;

            .left {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;
            }

            .right {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;
            }
        }
    }
}

:root[data-theme="dark"] {
    .chat_wrapper {
        > div {
            .chat_user_wrapper {
                .message {
                    border: 1px solid color.$darkRootBorder;
                }
            }

            .chat_assistant_wrapper {
                details {
                    border: 1px solid color.$darkChatAssistantBoxBorder;
                    background-color: color.$darkChatAssistantBoxBackground;
                    color: color.$darkRootText;

                    .citation_wrapper {
                        .box {
                            background-color: color.$darkCitationBackground;
                            color: color.$darkCitationText;

                            .link {
                                color: color.$darkHyperLinkText;
                            }
                        }
                    }
                }
            }
        }
    }

    .message_send_wrapper {
        border: 1px solid color.$darkChatMessageSendBorder;
        box-shadow: color.$darkShadowMessageSend;
    }
}
