html,
body,
#jsmvcfw_app,
.page_container {
    width: 100%;
    height: 100%;
}

:root {
    color: #f6f6f6;
    background-color: #2f2f2f;
}

.sendMessage {
    background-color: rgba(117, 117, 117, 0.13);
}

.page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    textarea,
    input,
    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 5px;
        color: #ffffff;
        background-color: #0f0f0f98;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        outline: none;
        align-self: center;
    }

    button {
        margin: 10px;
        cursor: pointer;

        &:hover {
            border-color: #396cd8;
        }
    }

    p {
        margin: auto 0;
    }

    .row {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #0f0f0f;
        background-color: #f6f6f6;
    }

    textarea,
    input,
    button {
        color: #0f0f0f;
        background-color: #ffffff;
    }
}
