@use "../setting/color.scss" as color;

html,
body,
#jsmvcfw_app,
.page_container {
    width: 100%;
    height: 100%;
    user-select: none;
}

.page_container {
    display: flex;
    flex-direction: column;

    textarea,
    input,
    button {
        border-radius: 8px;
        padding: 5px;
        outline: none;
        align-self: center;
    }

    button {
        margin: 10px;
        cursor: pointer;
        text-align: center;
    }

    p {
        margin: auto 0;
    }

    .row {
        display: flex;
        padding: 10px;
    }

    .container_messageReceive {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 190px;
        overflow-y: scroll;
        flex-direction: column;
        align-items: flex-start;

        .container_messageSend_copy {
            align-self: end;

            pre {
                margin: 5px 0;
                border-radius: 8px;
                border: 1px solid color.$grey700;
                padding: 10px;
            }
        }

        details {
            background-color: #555555;
            padding: 5px;
            margin-bottom: 5px;

            summary {
                &::before {
                    content: "\e749";
                    font-family: "material-icon-rounded";
                    margin-right: 5px;
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    line-height: 0;
                }

                cursor: pointer;
                list-style: none;
            }

            pre {
                margin-top: 5px;
            }
        }

        pre {
            white-space: break-spaces;
            margin: 0;
        }
    }

    .container_messageSend {
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 20px;
        height: 150px;
        border-radius: 8px;
        border: 1px solid color.$grey700;

        textarea {
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            height: 100px;
            background-color: transparent !important;
        }

        button {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100px;
        }
    }
}

@media (prefers-color-scheme: Dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    textarea,
    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button {
        &:hover {
            border-color: #396cd8;
        }
    }
}

@media (prefers-color-scheme: Light) {
    :root {
        color: #2f2f2f;
        background-color: #f6f6f6;
    }

    textarea,
    input,
    button {
        color: #0f0f0f98;
        background-color: #ffffff;
    }

    button {
        &:hover {
            border-color: #396cd8;
        }
    }
}
