@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

html,
body,
#jsmvcfw_app,
.page_container {
    width: 100%;
    height: 100%;
    user-select: none;
}

.page_container {
    display: flex;
    flex-direction: column;

    textarea,
    input,
    button {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 5px;
        outline: none;
        align-self: center;
        background-color: transparent;
    }

    button {
        margin: 10px;
        cursor: pointer;
        text-align: center;
    }

    .container_actionBar {
        display: flex;
        flex-direction: column;
        padding: 10px;
        z-index: parameter.$zIndexActionBar;

        .selector_model {
            align-self: end;
            cursor: pointer;
            position: relative;

            .dialog {
                position: absolute;
                right: 0;
                margin-top: 5px;
                padding: 10px;

                ul {
                    li {
                        cursor: pointer;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .container_message_receive {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 190px;
        padding: 0 20px;
        overflow-y: scroll;
        overscroll-behavior: contain;
        scroll-behavior: auto;

        > div {
            pre {
                white-space: break-spaces;
                margin: 0;
            }

            .container_chat {
                margin-top: 20px;
                display: flex;
                flex-direction: column;

                p {
                    align-self: end;
                    width: fit-content;
                }

                pre {
                    margin: 5px 0;
                    border-radius: 8px;
                    padding: 10px;
                    align-self: end;
                    width: fit-content;
                    text-align: right;
                }
            }

            details {
                padding: 5px;
                margin-bottom: 5px;
                width: fit-content;

                summary {
                    &::before {
                        content: "\e749";
                        font-family: "material-icon-rounded";
                        margin-right: 5px;
                        font-size: parameter.$fontSizeNormalPlus;
                        position: relative;
                        top: 7px;
                        line-height: 0;
                    }

                    cursor: pointer;
                    list-style: none;
                }

                pre {
                    margin-top: 5px;
                }
            }
        }

        .bottom_limit {
            height: 1px;
        }
    }

    .container_message_send {
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 20px;
        height: 150px;
        border-radius: 8px;

        textarea {
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            height: 100px;
        }

        button {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100px;
        }
    }
}

@media (prefers-color-scheme: Dark) {
    :root {
        color: color.$darkRootText;
        background-color: color.$darkRootBackground;
    }

    button {
        background-color: color.$darkButtonBackground !important;

        &:hover {
            border: 1px solid color.$darkButtonBorderHover !important;
        }
    }

    .container_actionBar {
        .selector_model {
            .dialog {
                background: color.$darkActionBarDialogBackground;
                box-shadow: color.$darkBoxShadow;
            }
        }
    }

    .container_message_receive {
        > div {
            .container_chat {
                pre {
                    border: 1px solid color.$darkMessageBorder;
                }
            }

            details {
                color: color.$darkThinkColor;
                background-color: color.$darkThinkBackground;
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$darkMessageBorder;
        box-shadow: color.$darkMessageSendBoxShadow;
    }
}

@media (prefers-color-scheme: Light) {
    :root {
        color: color.$lightRootText;
        background-color: color.$lightRootBackground;
    }

    button {
        background-color: color.$lightButtonBackground !important;

        &:hover {
            border: 1px solid color.$lightButtonBorderHover !important;
        }
    }

    .container_actionBar {
        .selector_model {
            .dialog {
                background: color.$lightActionBarDialogBackground;
                box-shadow: color.$lightBoxShadow;
            }
        }
    }

    .container_message_receive {
        > div {
            .container_chat {
                pre {
                    border: 1px solid color.$lightMessageBorder;
                }
            }

            details {
                color: color.$lightThinkColor;
                background-color: color.$lightThinkBackground;
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$lightMessageBorder;
        box-shadow: color.$lightMessageSendBoxShadow;
    }
}
