@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

html,
body,
#jsmvcfw_app,
.page_container {
    width: 100%;
    height: 100%;
    user-select: none;
}

textarea,
input,
button {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px;
    outline: none;
    background-color: transparent;
}

button {
    margin: 10px;
    cursor: pointer;
}

pre {
    white-space: break-spaces;
}

.page_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom_limit {
        height: 1px;
    }

    .cls_icon {
        display: block !important;
        height: 1em !important;
    }

    .dropdown {
        position: relative;

        .cls_icon {
            cursor: pointer !important;
            font-size: parameter.$fontSizeNormalPlus !important;
        }

        .menu {
            position: absolute;
            margin-top: 5px;
            z-index: parameter.$zIndexInteraction;

            .title {
                margin: 5px;
            }

            ul {
                li {
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .chip {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer !important;
        padding: 5px;
        border-radius: 10px;

        i {
            font-size: parameter.$fontSizeNormalPlus !important;
            height: 1em !important;
        }

        p {
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
    }

    .container_over {
        display: grid;
        place-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: parameter.$zIndexOver;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer !important;

            .cls_icon {
                font-size: parameter.$fontSizeVeryBig !important;
            }
        }
    }

    .container_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 10px;
        z-index: parameter.$zIndexInteraction;
    }

    .container_message_receive {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: contain;
        scroll-behavior: auto;

        > div {
            .container_chat_user {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 10px 25px;

                .time {
                    width: fit-content;
                }

                .message {
                    border-radius: 8px;
                    margin: 5px 0;
                    padding: 10px;
                    width: fit-content;

                    &.file {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        list-style: none;

                        li {
                            display: flex;
                            align-items: center;

                            p {
                                margin-right: 5px;
                                display: flex;
                                align-items: center;
                            }

                            .cls_icon {
                                font-size: parameter.$fontSizeNormalPlus !important;
                            }
                        }
                    }
                }
            }

            .container_chat_assistant {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px 25px;

                details {
                    padding: 5px;
                    width: fit-content;
                    margin: 5px 0;

                    summary {
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;

                        .cls_icon {
                            font-size: parameter.$fontSizeNormalPlus !important;
                        }

                        p {
                            margin-left: 5px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .list {
                        margin: 5px 0;

                        p {
                            margin: 2px 0;
                        }
                    }
                }

                pre {
                    margin: 5px 0;
                }
            }
        }
    }

    .container_available_item {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .container_message_send {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        border-radius: 8px;

        .container_action {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: flex-start;
            }

            .right {
                display: flex;
                align-items: flex-end;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (prefers-color-scheme: Dark) {
    :root {
        color: color.$darkRootText;
        background-color: color.$darkRootBackground;
    }

    button {
        background-color: color.$darkButtonBackground !important;

        &:hover {
            border: 1px solid color.$darkButtonBorderHover !important;
        }

        &.active {
            border: 1px solid color.$darkButtonBorderActive !important;
        }
    }

    .menu {
        background-color: color.$darkInteractionBackground;
        box-shadow: color.$darkBoxShadow;

        ul {
            li {
                &:hover {
                    background-color: color.$darkInteractionHover;
                }
            }
        }
    }

    .chip {
        background-color: color.$darkChipBackground;
        border: 1px solid color.$darkChipBorder;
    }

    .container_over {
        background-color: color.$darkRootBackground;
    }

    .container_header {
        background-color: color.$darkInteractionBackground;
        box-shadow: color.$darkBoxShadow;
    }

    .container_message_receive {
        > div {
            .container_chat_assistant {
                details {
                    color: color.$darkChatAssistantBoxColor;
                    background-color: color.$darkChatAssistantBoxBackground;
                }
            }

            .container_chat_user {
                .message {
                    border: 1px solid color.$darkChatUserBoxColor;
                }
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$darkChatUserBoxColor;
        box-shadow: color.$darkMessageSendBoxShadow;
    }
}

@media (prefers-color-scheme: Light) {
    :root {
        color: color.$lightRootText;
        background-color: color.$lightRootBackground;
    }

    button {
        background-color: color.$lightButtonBackground !important;

        &:hover {
            border: 1px solid color.$lightButtonBorderHover !important;
        }

        &.active {
            border: 1px solid color.$lightButtonBorderActive !important;
        }
    }

    .menu {
        background-color: color.$lightInteractionBackground;
        box-shadow: color.$lightBoxShadow;

        ul {
            li {
                &:hover {
                    background-color: color.$lightInteractionHover;
                }
            }
        }
    }

    .chip {
        background-color: color.$darkChipBackground;
        border: 1px solid color.$darkChipBorder;
    }

    .container_over {
        background-color: color.$lightRootBackground;
    }

    .container_header {
        background-color: color.$lightInteractionBackground;
        box-shadow: color.$lightBoxShadow;
    }

    .container_message_receive {
        > div {
            .container_chat_assistant {
                details {
                    color: color.$lightChatAssistantBoxColor;
                    background-color: color.$lightChatAssistantBoxBackground;
                }
            }

            .container_chat_user {
                .message {
                    border: 1px solid color.$lightChatUserBoxColor;
                }
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$lightChatUserBoxColor;
        box-shadow: color.$lightMessageSendBoxShadow;
    }
}
