@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

html,
body,
#jsmvcfw_app,
.page_container {
    width: 100%;
    height: 100%;
    user-select: none;
}

textarea,
input,
button {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px;
    outline: none;
    background-color: transparent;
}

button {
    margin: 10px;
    cursor: pointer;
}

pre {
    white-space: break-spaces;
}

.page_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container_over {
        display: grid;
        place-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: parameter.$overZindex;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer !important;

            .cls_icon {
                font-size: parameter.$fontSizeVeryBig !important;
                height: 1em !important;
            }
        }
    }

    .container_actionBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: parameter.$actionBarHeight;
        padding: 10px;
        z-index: parameter.$actionBarZindex;

        .selector_model {
            .cls_icon {
                cursor: pointer !important;
            }

            .dialog {
                position: absolute;
                right: 0;
                margin-top: 5px;

                .title {
                    margin: 5px;
                }

                ul {
                    li {
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .container_message_receive {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: contain;
        scroll-behavior: auto;

        > div {
            .container_chat_user {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 10px 25px;

                .time {
                    width: fit-content;
                }

                .message {
                    border-radius: 8px;
                    margin: 5px 0;
                    padding: 10px;
                    width: fit-content;

                    &.file {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        list-style: none;

                        li {
                            display: flex;
                            align-items: center;

                            p {
                                margin-right: 5px;
                                display: flex;
                                align-items: center;
                            }

                            .cls_icon {
                                font-size: parameter.$fontSizeNormalPlus !important;
                                height: 1em !important;
                            }
                        }
                    }
                }
            }

            .container_chat_assistant {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px 25px;

                details {
                    padding: 5px;
                    width: fit-content;
                    margin: 5px 0;

                    summary {
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;

                        .cls_icon {
                            font-size: parameter.$fontSizeNormalPlus !important;
                            height: 1em !important;
                        }

                        p {
                            margin-left: 5px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .list {
                        margin: 5px 0;

                        p {
                            margin: 2px 0;
                        }
                    }
                }

                pre {
                    margin: 5px 0;
                }
            }
        }
    }

    .container_message_send {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        border-radius: 8px;

        .container_action {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: flex-start;
            }

            .right {
                display: flex;
                align-items: flex-end;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
            }
        }
    }

    .bottom_limit {
        height: 1px;
    }
}

@media (prefers-color-scheme: Dark) {
    :root {
        color: color.$darkRootText;
        background-color: color.$darkRootBackground;
    }

    button {
        background-color: color.$darkButtonBackground !important;

        &:hover {
            border: 1px solid color.$darkButtonBorderHover !important;
        }

        &.active {
            border: 1px solid color.$darkButtonBorderActive !important;
        }
    }

    .container_over {
        background-color: color.$darkRootBackground;
    }

    .container_actionBar {
        background: color.$darkActionBarBackground;
        box-shadow: color.$darkBoxShadow;

        .dialog {
            background: color.$darkActionBarBackground;
            box-shadow: color.$darkBoxShadow;

            ul {
                li {
                    &:hover {
                        background-color: color.$darkActionBarDialogHover;
                    }
                }
            }
        }
    }

    .container_message_receive {
        > div {
            details {
                color: color.$darkAssistantBoxColor;
                background-color: color.$darkAssistantBoxBackground;
            }

            .container_chat_user {
                .message {
                    border: 1px solid color.$darkMessageBorder;
                }
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$darkMessageBorder;
        box-shadow: color.$darkMessageSendBoxShadow;
    }
}

@media (prefers-color-scheme: Light) {
    :root {
        color: color.$lightRootText;
        background-color: color.$lightRootBackground;
    }

    button {
        background-color: color.$lightButtonBackground !important;

        &:hover {
            border: 1px solid color.$lightButtonBorderHover !important;
        }

        &.active {
            border: 1px solid color.$lightButtonBorderActive !important;
        }
    }

    .container_over {
        background-color: color.$lightRootBackground;
    }

    .container_actionBar {
        background: color.$lightActionBarBackground;
        box-shadow: color.$lightBoxShadow;

        .dialog {
            background: color.$lightActionBarBackground;
            box-shadow: color.$lightBoxShadow;

            ul {
                li {
                    &:hover {
                        background-color: color.$lightActionBarDialogHover;
                    }
                }
            }
        }
    }

    .container_message_receive {
        > div {
            details {
                color: color.$lightAssistantBoxColor;
                background-color: color.$lightAssistantBoxBackground;
            }

            .container_chat_user {
                .message {
                    border: 1px solid color.$lightMessageBorder;
                }
            }
        }
    }

    .container_message_send {
        border: 1px solid color.$lightMessageBorder;
        box-shadow: color.$lightMessageSendBoxShadow;
    }
}
