@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_menuItem_left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;

    li {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: start;
        align-items: center;
        justify-items: center;
        padding: 10px 0 10px 5px;
        cursor: pointer;

        p {
            margin-left: 5px;
        }
    }
}

.view_menuItem_right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;

    position: fixed;
    padding: 10px;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 150px;
    z-index: parameter.$zIndexLevel2;

    .document_container,
    .skill_container,
    .tool_container,
    .task_container,
    .agent_container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: start;
        align-items: stretch;
        justify-items: center;
        flex: 1 1 auto;
        min-height: 0;

        .button_container {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: start;
            align-items: center;
            justify-items: center;
            padding: 5px 10px;
            border-radius: 20px;
            gap: 5px;

            button {
                width: 100px;
                margin: 0px !important;

                .cls_icon {
                    margin-right: 5px !important;
                }
            }
        }
    }

    .document_container,
    .skill_container {
        .upload_status {
            .cls_icon {
                margin-bottom: 5px !important;
            }

            details {
                padding: 5px;
                width: fit-content;
                margin: 5px 0;
                border-radius: 8px;

                summary {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: start;
                    align-items: center;
                    justify-items: center;
                    cursor: pointer;

                    .cls_icon {
                        font-size: parameter.$fontSizeNormalPlus !important;
                    }
                }

                .file,
                .embedding {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    align-items: start;
                    justify-items: center;
                    margin-top: 10px;
                    gap: 0px;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        justify-items: center;

                        .cls_icon {
                            font-size: parameter.$fontSizeNormalPlus !important;
                            margin-right: 5px !important;
                        }
                    }
                }
            }
        }
    }

    .tool_container,
    .task_container,
    .agent_container {
        ul {
            display: flex;
            flex-direction: row;
            align-content: start;
            justify-content: center;
            align-items: stretch;
            justify-items: center;
            flex-wrap: wrap;
            flex: 1 1 auto;
            gap: 12px;
            overflow-y: scroll;
            margin-top: 10px;

            .chip {
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: stretch;
                justify-items: center;
                width: 275px;
                height: 110px;
                cursor: pointer;

                .top {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    margin-bottom: 10px;

                    img,
                    .cls_icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 5px !important;
                    }

                    p {
                        text-align: left !important;
                    }
                }

                .bottom {
                    text-align: left;
                }

                .skill {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    margin-top: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px !important;
                    }

                    p {
                        text-align: left !important;
                    }
                }
            }
        }

        .agent_form {
            width: 100%;

            .form_field {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: start;
                align-items: start;
                justify-items: center;

                textarea {
                    width: 100%;
                    margin: 5px 0 20px 0;
                }

                .select_container {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    margin: 5px 0 20px 0;

                    button {
                        width: 100px;
                        margin: 0 10px 0 0 !important;
                    }

                    .skill {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        justify-items: center;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px !important;
                        }
                    }
                }
            }

            .form_button_container {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                padding: 5px 10px;
                border-radius: 20px;
                white-space: break-spaces;
                word-break: break-word;
                overflow-y: auto;
                gap: 5px;

                button {
                    width: 100px;
                    margin: 0px !important;
                }
            }
        }
    }

    .table_flex {
        .row {
            .cell {
                &.name.skill {
                    cursor: default !important;
                }
            }
        }
    }
}

:root[data-theme="dark"] {
    .view_menuItem_left {
        li {
            &:hover {
                color: color.$darkInteractionBackground;
                background-color: color.$darkInteractionHover;
            }
        }
    }

    .view_menuItem_right {
        background-color: color.$darkRootBackground;

        .document_container,
        .skill_container {
            .upload_status {
                details {
                    border: 1px solid color.$darkChatAssistantBoxBorder;
                    background-color: color.$darkChatAssistantBoxBackground;
                    color: color.$darkRootText;
                }
            }
        }

        .agent_container {
            .agent_form {
                .form_message {
                    p {
                        color: color.$darkErrorText;
                    }
                }

                .form_field {
                    textarea {
                        border: 1px solid color.$darkChatMessageSendBorder;
                        box-shadow: color.$darkShadowMessageSend;
                    }
                }
            }
        }
    }
}
