@use "../setting/color.scss" as color;
@use "../setting/parameter.scss" as parameter;

.view_menuItem_left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 0 1 auto;

    li {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: start;
        align-items: center;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 0 1 auto;

        padding: 10px 0 10px 5px;
        cursor: pointer;

        p {
            margin-left: 5px;
        }
    }
}

.view_menuItem_right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 0 1 auto;

    position: fixed;
    padding: 10px;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 150px;
    z-index: parameter.$zIndexLevel2;

    .document_container,
    .skill_container,
    .tool_container,
    .task_container,
    .agent_container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: start;
        align-items: stretch;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 1 1 auto;

        align-self: stretch;

        .button_container {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: start;
            align-items: center;
            justify-items: center;
            min-height: 0;
            min-width: 0;
            flex: 0 1 auto;

            padding: 5px 10px;
            border-radius: 20px;
            gap: 5px;

            button {
                margin: 0px !important;

                &.rag {
                    width: 130px !important;
                }

                .cls_icon {
                    margin-right: 5px !important;
                }
            }
        }

        .table_flex {
            & .delete {
                flex: 0 0 40px !important;

                .cls_icon {
                    cursor: pointer !important;
                }
            }

            & .name {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: start;
                align-items: center;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 1 1 auto;

                gap: 10px !important;
                word-break: break-word !important;
                text-align: left !important;

                .icon {
                    width: 40px !important;
                }
            }

            & .date {
                flex: 0 0 200px !important;
            }

            & .size {
                flex: 0 0 60px !important;
            }

            & .button {
                flex: 0 0 100px !important;
            }
        }
    }

    .tool_container,
    .task_container,
    .agent_container {
        ul {
            display: flex;
            flex-direction: row;
            align-content: start;
            justify-content: center;
            align-items: stretch;
            justify-items: center;
            min-height: 0;
            min-width: 0;
            flex: 1 1 auto;

            flex-wrap: wrap;
            gap: 12px;
            overflow-y: scroll;
            margin-top: 10px;

            .chip {
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: stretch;
                justify-items: center;
                width: 350px;
                max-height: 250px;

                &.agent {
                    user-select: none !important;
                    -webkit-user-select: none !important;
                }

                .top {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    min-height: 0;
                    min-width: 0;
                    flex: 0 1 auto;

                    margin-bottom: 10px;

                    img,
                    .cls_icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 5px !important;
                        cursor: pointer;
                    }

                    p {
                        text-align: left !important;
                    }
                }

                .label {
                    margin-top: 10px;
                    text-align: left;
                }

                .bottom {
                    text-align: left;
                }

                .skill {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    min-height: 0;
                    min-width: 0;
                    flex: 0 1 auto;

                    margin-top: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px !important;
                    }

                    p {
                        text-align: left !important;
                    }
                }
            }
        }

        .agent_form {
            width: 100%;

            .form_field {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: start;
                align-items: start;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;

                textarea {
                    width: 100%;
                    margin: 5px 0 20px 0;
                }

                .select_container {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    min-height: 0;
                    min-width: 0;
                    flex: 0 1 auto;

                    margin: 5px 0 20px 0;

                    button {
                        margin: 0 10px 0 0 !important;
                    }

                    .skill {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        justify-items: center;
                        min-height: 0;
                        min-width: 0;
                        flex: 0 1 auto;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px !important;
                        }
                    }
                }
            }

            .form_button_container {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                min-height: 0;
                min-width: 0;
                flex: 0 1 auto;

                padding: 5px 10px;
                border-radius: 20px;
                white-space: break-spaces;
                word-break: break-word;
                overflow-y: auto;
                gap: 5px;

                button {
                    margin: 0px !important;
                }
            }
        }
    }
}

:root[data-theme="dark"] {
    .view_menuItem_left {
        li {
            &:hover {
                color: color.$darkInteractionBackground;
                background-color: color.$darkInteractionHover;
            }
        }
    }

    .view_menuItem_right {
        background-color: color.$darkRootBackground;

        .agent_container {
            .agent_form {
                .form_field {
                    textarea {
                        border: 1px solid color.$darkChatMessageSendBorder;
                        box-shadow: color.$darkShadowMessageSend;
                    }
                }
            }
        }
    }
}
