button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 0 1 auto;

    width: fit-content;
    height: 36px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;

    &:disabled {
        cursor: not-allowed !important;
    }
}
