@use "setting/color.scss" as color;

.table_flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    align-items: stretch;
    justify-items: center;
    min-height: 0;
    min-width: 0;
    flex: 1 1 auto;

    margin-top: 10px;

    .body {
        display: flex;
        flex-direction: column;
        align-content: start;
        justify-content: start;
        align-items: stretch;
        justify-items: start;
        min-height: 0;
        min-width: 0;
        flex: 1 1 auto;

        overflow-y: auto;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        min-height: 0;
        min-width: 0;
        flex: 0 0 auto;

        &.header {
            .cell {
                position: relative;
            }

            .cell + .cell::before {
                content: "";
                position: absolute;
                left: 0;
                width: 1px;
                height: 20px;
            }
        }

        .cell {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
            min-height: 0;
            min-width: 0;
            flex: 1 1 0;

            padding: 10px;
            text-align: center;
        }
    }
}

:root[data-theme="dark"] {
    .table_flex {
        .row {
            &.header {
                background-color: color.$darkInteractionBackground;
                color: color.$darkRootText;

                .cell + .cell::before {
                    background-color: color.$darkChatAssistantBoxBorder;
                }
            }
        }
    }
}
